# Ingesting Data Lab

### Introduction

In this lesson, we'll work on connecting to our redshift database, and then taking data from a CSV file in S3 and importing it into a table in redshift.  Let's get started.

### Setting up

If you haven't already, create a redshift cluster and attach the necessary policies.  
1. Create the cluster


Remember that to create the redshift cluster, it's best to go to the redshift v1 dashbooard [located here](https://console.aws.amazon.com/redshift) and then click on clusters, followed by `Launch Cluster`.

2. Set the appropriate details

<img src="./redshift-config.png" width="40%">

3. And under the `additional config` section, we can associate the correct security group, and associate the appropriate role that we created in previous lessons.

> <img src="./additional-config.png" width="70%">

Then after the review page, and creating the cluster, we can wait for the cluster to setup.

> <img src="./creating-cluster.png" width="60%">

When our dashboard switches from `creating` to `available`, we can properly connect to our cluster.

### Adding data to s3

Remember that we'll want to have the ability to take data from an S3 bucket, and import it into redshift.  Ultimately, we'll get that data from an RDS instance, but for now we can skip that step and simply upload our data to an S3 bucket, to then import it into our RDS instance.

So go to the S3 resource, and create a new bucket with something like the pattern:

> `your-initials-foursquare-data`

And then find the csv csv files located in the data folder of this lab and upload them to the s3 bucket.

> <img src="./categories-venues.png" width="60%">

Now that our data is uploaded, and our redshift cluster is created, it's time to import our data from S3 and into our redshift database.

### Working in Redshift

We can begin working in redshift by connecting to our database.  Import the `psycopg2` library, and create a connection and cursor into the redshift database.

In [1]:
import psycopg2

In [135]:
host = "redshift-cluster-1.cdpgnoufdsdf.us-east-1.redshift.amazonaws.com"
conn = psycopg2.connect(host = host,
                        database="dev",
                        port = "5439",
                        user="awsuser",
                        password="Password1")

In [136]:
cursor = conn.cursor()

> Below, check that the connection information is appropriate for the redshift cluster.

In [6]:
conn
# <connection object at 0x110ad1580; 
# dsn: 'user=awsuser 
# password=xxx dbname=dev
# host=redshift-cluster-1.cdpgnoufdsdf.us-east-1.redshift.amazonaws.com port=5439', 
# closed: 0>

Next, let's get ready to import in some data, beginning with the categories information.  To do this we should first create the categories table.  Create the table with the correct columns based on the csv file.  The text columns should be of type `Varchar` allowing for `200` characters.

>  If needed, take a look at the [create table examples](https://docs.aws.amazon.com/redshift/latest/dg/r_CREATE_TABLE_examples.html) or the [datatypes available in redshift ](https://docs.aws.amazon.com/redshift/latest/dg/c_Supported_data_types.html).

In [13]:
create_categories_command = """CREATE TABLE "categories" (
    "id" integer NOT NULL DEFAULT nextval('categories_id_seq'),
    "name" VARCHAR(200)
);"""

In [14]:
cursor.execute(create_categories_command)

In [15]:
conn.commit()

Then we can check that the columns of our tables by querying `PG_TABLE_DEF`.

In [21]:
cursor.execute("""SELECT
  *
FROM
  PG_TABLE_DEF
WHERE
  schemaname = 'public';;""")

In [20]:
cursor.fetchall()
# [('public', 'categories', 'id', 'integer', 'az64', False, 0, True),
#  ('public',  'categories',  'name',  'character varying(200)',  'lzo',  False,  0,  False)]

[('public', 'categories', 'id', 'integer', 'az64', False, 0, True),
 ('public',
  'categories',
  'name',
  'character varying(200)',
  'lzo',
  False,
  0,
  False)]

So here, we can see that there is a `categories`, `id` column of type integer.  And that the second column is a `categories`, `name` column of type `character varying(200)`.

Now let's try to use redshift to upload in the data from our `categories.csv` file into our table.  Let's get to it.

In [22]:
qry = """COPY categories (id, name) from 's3://jk-jigsaw-foursquare/categories.csv'
credentials 'aws_iam_role=arn:aws:iam::095598444804:role/redshiftRole'
delimiter ','
IGNOREHEADER 1
region 'us-east-1';
"""

cursor.execute(qry)

In [23]:
conn.commit()

Next, confirm that we imported the data properly.

In [24]:
cursor.execute('SELECT * FROM categories LIMIT 2;')

cursor.fetchall()
# [(44, 'Pizza'), (45, 'Italian')]

[(44, 'Pizza'), (45, 'Italian')]

### One last table

Ok, now let's work on importing information from the `venues.csv` file.  


> The `price` and `rating` columns both cannot be too large, so set the datatype of both to small int.

In [112]:
conn.commit()

In [113]:
create_venues_command = """CREATE TABLE "venues" (
    "id" integer NOT NULL DEFAULT nextval('venues_id_seq'),
    "foursquare_id" VARCHAR(200),
    "name" VARCHAR(200),
    "price" SMALLINT,
    "rating" SMALLINT,
    "likes" INT,
    "menu_url" VARCHAR(200),
    "created_at" timestamp
);"""

In [114]:
cursor.execute(create_venues_command)

In [115]:
conn.commit()

Then let's again check the columns in our database and we should see some more added in there. 

> This time we'll select columns just from the `venues` table.

In [87]:
cursor.execute("""SELECT * FROM PG_TABLE_DEF 
WHERE schemaname = 'public';""")

In [89]:
# cursor.fetchall()

Next let's import in some data.

In [116]:
qry = """COPY venues (id, foursquare_id, name, price, rating, likes, menu_url, created_at) from 's3://jk-jigsaw-foursquare/venues.csv'
credentials 'aws_iam_role=arn:aws:iam::095598444804:role/redshiftRole'
delimiter ','
IGNOREHEADER 1
region 'us-east-1';
"""

cursor.execute(qry)

InternalError_: Load into table 'venues' failed.  Check 'stl_load_errors' system table for details.

Uh oh, we should have gotten an error.  Recreate the connection to the database, and then we can begin to debug the error with a call to the following.

In [119]:
qry = """select query, substring(filename,22,25) as filename,line_number as line, 
substring(colname,0,12) as column, type, position as pos, substring(raw_line,0,50) as line_text,
substring(raw_field_value,0,15) as field_text, 
substring(err_reason,0,45) as reason
from stl_load_errors 
order by query desc
limit 1;"""

In [120]:
cursor.execute(qry)

In [121]:
cursor.fetchall()

# (1090,
#   'uare/venues.csv',
#   6,
#   'rating',
#   'int2      ',
#   50,
#   '57,5b2932a0f5e9d70039787cf2,Los Tacos Al Pastor,1',
#   '8.0',
#   "Invalid digit, Value '.', Pos 1, Type: Short")]

[(1090,
  'uare/venues.csv',
  6,
  'rating',
  'int2      ',
  50,
  '57,5b2932a0f5e9d70039787cf2,Los Tacos Al Pastor,1',
  '8.0',
  "Invalid digit, Value '.', Pos 1, Type: Short")]

So the above is telling us that there was an issue with the inserting data into the rating column for the entry of Lost Tacos Al Pastor.  We may want to look at the value directly, but we can see under `Invalid digit, value '.'` that it looks like there was a `.` when there should not have been.  Notice that the rating is of type integer, and perhaps it should not be.  

Drop the venues table, recreate it, updating the datatype of the `rating` column.

In [127]:
cursor.execute("""DROP TABLE "venues";""")

In [128]:
conn.commit()

In [129]:
create_venues_command = """CREATE TABLE "venues" (
    "id" integer NOT NULL DEFAULT nextval('venues_id_seq'),
    "foursquare_id" VARCHAR(200),
    "name" VARCHAR(200),
    "price" SMALLINT,
    "rating" FLOAT,
    "likes" INT,
    "menu_url" VARCHAR(200),
    "created_at" timestamp
);"""

In [130]:
cursor.execute(create_venues_command)
conn.commit()

Now let's try to copy over the data again.

In [131]:
qry = """COPY venues (id, foursquare_id, name, price, rating, likes, menu_url, created_at) from 's3://jk-jigsaw-foursquare/venues.csv'
credentials 'aws_iam_role=arn:aws:iam::095598444804:role/redshiftRole'
delimiter ','
IGNOREHEADER 1
region 'us-east-1';
"""

cursor.execute(qry)

InternalError_: Load into table 'venues' failed.  Check 'stl_load_errors' system table for details.

Sorry, another error.  Let's again see if we can find the issue.  We'll need to check `stl_load_errors` again and see if it's any different than the last one.

> Remember we'll again have to recreate the connection to the database.

In [137]:
qry = """select query, substring(filename,22,25) as filename,line_number as line, 
substring(colname,0,12) as column, type, position as pos, substring(raw_line,0,50) as line_text,
substring(raw_field_value,0,15) as field_text, 
substring(err_reason,0,45) as reason
from stl_load_errors 
order by query desc
limit 1;"""

In [138]:
cursor.execute(qry)

In [139]:
cursor.fetchall()

[(1170,
  'uare/venues.csv',
  109,
  'price',
  'int2      ',
  39,
  '160,4fc26c1be4b0d516256e64e3,"taqueria, Mexican &',
  ' Mexican & Sal',
  "Invalid digit, Value 'M', Pos 1, Type: Short")]

If we look at the error, we see something like the following:
```json
'160,4fc26c1be4b0d516256e64e3,"taqueria, Mexican &',
  ' Mexican & Sal',
  "Invalid digit, Value 'M', Pos 1, Type: Short")]
```

So for some reeason, `Mexican and Sal` is being placed in the price column.  Let's open up the csv file and look at the offending row to take a closer look.

<img src="./tacqueria.png" width="70%">

Looking at row 109, just the row our error message said there was a problem at, we can see that `"tacqueria, Mexican"` has a comma in it.  This is likely throwing off the csv parsing.  Perhaps there's a way to ignore commas when we are copying over our CSV file into our table.

Take a look at the following [stackoverflow post](https://stackoverflow.com/questions/42720342/escaping-delimiter-in-amazon-redshift-copy-command) about how to specify what is in quotation marks and then give it another shot.

In [141]:
qry = """COPY venues (id, foursquare_id, name, price, rating, likes, menu_url, created_at) from 's3://jk-jigsaw-foursquare/venues.csv'
credentials 'aws_iam_role=arn:aws:iam::095598444804:role/redshiftRole'
delimiter ','
IGNOREHEADER 1
CSV QUOTE '\"'
region 'us-east-1';
"""

cursor.execute(qry)

In [142]:
conn.commit()

After a couple more attempts, hopefully we can get it working.  If so we should not see an error message, and perhaps can will be able to retrieve our first two records from venues with the following:

In [143]:
cursor.execute('SELECT * FROM venues LIMIT 2;')

In [144]:
cursor.fetchall()

[(53,
  '',
  'Los Tacos Al Pastor',
  1,
  None,
  None,
  '',
  datetime.datetime(2020, 12, 22, 18, 37, 39, 384899)),
 (54,
  '1234',
  'Grimaldis',
  2,
  2.0,
  3,
  'grimaldis.com',
  datetime.datetime(2020, 12, 22, 18, 37, 39, 395055))]

### Summary

In this lesson, we saw how we can create, connect to, and import data into our redshift cluster.  We also practiced working through error messages in redshift.  As we saw, debugging redshift is a bit indirect as the error messages are stored on the `stl_load_errors` table.  We also saw that it's important for us to think about what can go wrong with our data, such as using the correct datatype, and accounting for extra commas in our data.